<h1>{{title}}</h1>

<ul>
    {{#each bookinstance_list as |bookinstance|}}
    <li>
        <a href={{bookinstance.url}}>{{bookinstance.book.title}}</a> : {{bookinstance.imprint}}
        {{#nuevoIf 'Available' '===' bookinstance.status}}
        <span class='text-success'>{{bookinstance.status}}</span>
        {{/nuevoIf}}
        {{#nuevoIf 'Maintenance' '===' bookinstance.status}}
        <span class='text-danger '>{{bookinstance.status}}</span>
        {{/nuevoIf}}
        {{#nuevoIf 'Loaned' '===' bookinstance.status}}
        <span class='text-warning '>{{bookinstance.status}}</span>
        {{/nuevoIf}}
        {{#nuevoIf 'Available' '!=' bookinstance.status}}
        <span>(due: {{bookinstance.due_back_formatted}})</span>
        {{/nuevoIf}}

    </li>
    {{/each}}
</ul>