<h1>{{title}}</h1>
<p><strong>Author:</strong></p>
<a href={{book.author.url}}>{{book.author.name}}</a>
<p><strong>Summary:</strong>{{book.summary}}</p>
<p><strong>ISBN:</strong>{{book.isbn}}</p>
{{#each book.genre}}
<a href={{this.url}}>{{this.name}}</a>
{{/each}}

<div style="margin-left:20px; margin-top:20px">
    <h4> Copies</h4>

    {{#each book_instances}}
    <hr>
    {{#nuevoIf 'Available' '===' this.status}}
    <span class='text-success'>{{this.status}}</span>
    {{/nuevoIf}}
    {{#nuevoIf 'Maintenance' '===' this.status}}
    <span class='text-danger '>{{this.status}}</span>
    {{/nuevoIf}}
    {{#nuevoIf 'Loaned' '===' this.status}}
    <span class='text-warning '>{{this.status}}</span>
    {{/nuevoIf}}
    {{#nuevoIf 'Available' '!=' this.status}}
    <span>(due: {{this.due_back_formatted}})</span>
    {{/nuevoIf}}
    <p><strong>Id:</strong></p>
    <a href={{this.url}}>{{this.id}}</a>
    {{/each}}
</div>